body {
	background-color: #E4E0F2;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 50px;
	color: #3B2E63;
}
h3 {
	font-size: 22px;
}
#top, #bottom, #left, #right {
	background: #3B2E63;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

div.content {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 65%;
	margin-top: 7%;
}

div.footer {
	position: absolute;
	background-color: #B6B1C8;
	display: block;
	text-align: center;
	width: 100%;
	bottom: 15px;
	padding: 2% 0% 2% 0%;
	z-index: -1;
}
div.contact {
	display: block;
	width: 30%;
}
