html, body {
  height: 100%;
}

body {
	background-color: #EEEEEE;
	font-family: 'Lato', sans-serif;
	color: #515151;
	line-height: 1.75em;
}
h1.name {
	position: relative;
	font-size: 50px;
	color: #46719C;
	top: 20%;
}
div.name {
	margin-top: 20%;
}

h2.about {
	font-size: 30px;
	color: #515151;
}

h3 {
	font-size: 22px;
}
#top, #bottom, #left, #right {
	background: #46719C;
	position: fixed;
	z-index: 2;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


div.content {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 65%;
	margin-top: 7%;
}

div.footer {
	background-color: #2C3E50;
	text-align: center;
	width: 100%;
	padding: 2% 0% 2% 0%;
	z-index: -1;
}

div.email {
	display: block;
	position: relative;
	width: 30%;
	padding-top: 1em;
	color: white;
}

h2 {
	display: inline-block;
	font-size: 25px;
	color: white;
}

img {
	display: inline-block;
	width: 60%;
	height: 60%;
	margin: 0 auto;
}

.content {
  min-height: 80%;
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  height: 60px; 
}
div.projects, div.bio {
	width: 100%;
}
.nav {
	height: 66px;
	top: 0;
	background-color: #2C3E50;
	width: 100%;
	overflow: hidden;
}
.nav div  {
	padding-left: 20px;
}

#four {
  background-color: #2C3E50;
  float:left; 
  margin-right:20px;
  width:170px;
}

#three {
  background-color: #2C3E50;
  float:left; 
  margin-right:20px;
  width:170px;
}
#two {
  background-color: #2C3E50;
  float:left; 
  margin-right:20px;
  width:170px;
}
#one {
  background-color: #2C3E50;
  float:left; 
  margin-right:20px;
  width:170px;
  padding-left: 50px;
}

@media screen and (max-width: 855px) {
	.nav {
		height: 120px;
	}
	.nav h2 {
		position: absolute;
	}
	h2.bio {
		top: 1;
		left: 200px;
	}
	h2.projects {
		top: 1;
		left: 500px;
	}
	h2.stack {
		top: 60px;
		left: 500px;
	}
	h2.contact {
		top: 60px;
		left: 200px;
	}
	.email {
  	margin-left: 40px;
  }
}

@media screen and (max-width: 650px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;  
  }
  .nav {
  	height: 210px;
  }
  h2.bio {
		top: 8px;
		left: 100px;
	}
	h2.projects {
		top: 112px;
		left: 200px;
	}
	h2.stack {
		top: 164px;
		left: 250px;
	}
	h2.contact {
		top: 60px;
		left: 150px;

	}
  .email {
  	margin-left: 40px;
  }
}
div.contact {
	position: relative;
	height: 310px;
	margin-bottom: 10%;
}

div.bio {
	position: relative;
}

div.bio p {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
div.profile {
	position: absolute;
	display: inline-block;
	width: 324px;
	margin-left: 20%;
}
img.profile {
	width: 200px;
	height: 279px;
}

div.left_stack, div.right_stack {
	position: relative;
	display: inline-block;
	left: 0;
}
li, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 20px;
}
ul.right_stack {
	margin-left: 12%;
}
h3.bio {
	font-size: 30px;
}
p {
	font-size: 20px;
}
div.project {
	margin-bottom: 10%;
}
h1, span.nav {
	cursor: pointer;
}
div.description {
	max-width: 630px;
	margin: 0 auto;
}
