html, body {
  height: 100%;
}

body {
	background-color: #E4E0F2;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 50px;
	color: #3B2E63;
}
h3 {
	font-size: 22px;
}
#top, #bottom, #left, #right {
	background: #3B2E63;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

div.content {
	display: block;
	text-align: center;
	margin: 0 auto -2em;
	width: 65%;
	margin-top: 7%;
}

div.footer {
	background-color: #B6B1C8;
	text-align: center;
	width: 100%;
	padding: 2% 0% 2% 0%;
	z-index: -1;
}

.footer, .push {
	clear: both;
}

div.contact {
	display: block;
	width: 30%;
	padding-top: 1em;
}

h2 {
	display: inline-block;
	font-size: 25px;
}

img {
	display: inline-block;
	width: 60%;
	height: 60%;
	margin: 0 auto;
}

.content {
  min-height: 100%;
  margin-bottom: -60px; 
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  height: 60px; 
}
div.projects {
	width: 100%;
}
.underline:hover {
	text-decoration: underline;
}
.nav {
	height: 66px;
}
.links {
	display: inline-block;
	position: absolute;
	width: 30%;
	height: 25px;
}

h2.projects {
	position: absolute;
	left: 29%;
}

h2.contact {
	position: absolute;
	left: 45%;
}

h2.stack {
	position: absolute;
	left: 61%;
}
