<div class="nav" ng-controller="navController">
	<li>About</li>
	<li ng-click="projectClick()">Projects</li>
	<li>Contact</li>
	<li>Stack</li>
</div>

<div ng-controller="CenterCtrl as display"> 
	<h1>{{display.landing.title}}</h1>
	<h3>{{display.landing.subTitle}}</h3>
</div>

<script>
	console.log("index")
</script>