<!DOCTYPE html>
<html ng-app="cmb" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carson Bills</title>
	<script src="lib/jquery-1.11.2.js"></script>
	<script src="lib/angular.min.js" type="text/javascript"></script>
	<script src="lib/angular-route.js" type="text/javascript"></script>
	<script src="lib/scripts.js" type="text/javascript"></script>
	<link rel="stylesheet" href="lib/styles.css">
</head>
<body>
	<%-body%>
</body>
</html>