body {
	background-color: #2C3E50;
	color: white;	
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

.contact-logo {
	height: 60px;
	margin: 100px 10px auto 10px;
}


.logo-container {
	position: relative;
	width: 80px;
	height: 80px;
	margin-left: 10%;
}

.logo-C {
	position: absolute;
	font-size: 70px;
}
.logo-B {
	position: absolute;
	font-size: 35px;
	top: 22px;
	left: 20px;
}

div.projects {
	background-color: grey;
	width: 80%;
	max-width: 1047px;
	overflow: hidden;
	margin: 0 auto;
}

.project {
	float: left;
	width: 250px;
	height: 300px;
	margin: 5px;
	background-color: lightgrey;
}
.screenshot {
	max-width: 200px;
}

.about-wrapper {
	width: 80%;
	margin: 0 auto;
}

.about-text {
	float: left;
	width: 45%;
}

.about-picture {
	max-width: 350px;
}