body {
	background-color: #2C3E50;
	color: white;	
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

.headline {
	margin-top: 70px;
}

.contact-logo {
	height: 60px;
	margin: 100px 10px auto 10px;
}

.nav {
	border-bottom: 2px solid #fff;
	width: 30%;
	margin: 0 auto;
	min-width: 350px;
}

.nav a {
	margin: 20px 20px 20px 20px;
}


.logo-container {
	position: relative;
	width: 80px;
	height: 80px;
	margin-left: 10%;
}

.logo-C {
	position: absolute;
	font-size: 70px;
}
.logo-B {
	position: absolute;
	font-size: 35px;
	top: 22px;
	left: 20px;
}

div.projects {
	width: 80%;
	max-width: 931px;
	overflow: hidden;
	margin: 0 auto;
}



.index-project {
	float: left;
	width: 300px;
	height: 275px;
	margin: 5px;
}

.index-project p {
	font-size: 25px;
}

.project {
	margin: 0 auto;
	width: 75%;
	max-width: 800px;
}

.project-details {
	margin-top: 50px;
	height: 150px;
}

.project-description-left {
	width: 45%;
	padding-left: 3%;
	border-right: 2px solid #fff;
	float: left;
}

.project-description-right {
	width: 45%;
	padding-right: 4%;
	float: right;
}

div.project-external-links {
	margin: 20px auto 5px auto;
	width: 300px;
}

.project-external-links h3 {
	font-size: 25px;
	margin-right: 10px;
	display: inline;
}

.description {
	margin: 0;
}

.exit-button {
	float: right;
	font-size: 40px;
}

.project-technologies p{
	display: inline;
	max-width: 70px;
}

.index-screenshot {
	max-width: 280px;
}

.screenshot {
	width: 100%;
	max-width: 700px;
	margin-top: 5%;
}

.about-wrapper {
	width: 80%;
	margin: 0 auto;
	max-width: 880px;
}

.about-wrapper h1 {
	margin-bottom: 50px;
}

.about-text {
	float: left;
	width: 45%;
	max-width: 420px;
	min-width: 396px;
}

.about-image {
	float: right;
	max-width: 400px;
}

.about-picture {
	max-width: 350px;
}

.footer {
	margin: 50px auto;
	text-align: center;
	font-size: 15px;
}

@media screen and (max-width: 1179px) {
  div.projects {
    max-width: 620px;
  }
}

@media screen and (max-width: 791px) {
	div.projects {
		max-width: 310px;
	}
}

@media screen and (max-width: 1079px){
	div.about-text {
		margin: 0 auto;
		margin-bottom: 50px;
		width: 80%;
		max-width: 560px;
		float: none;
	}
	div.about-image {
		float: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	img.about-picture {
		max-width: 250px;
	}
	div.about-text {
		min-width: 250px;
	}
}